---
title: false
styles: true
---
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #306090 !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #306090 !default;
$hoverColour: #304878 !default;
$focusColour: #a8adac !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;
@import "alembic";
